body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  padding: 1em;
  color: red;
  /* background-color: gray; */
  background-size: 1em;
  height: 90px;
}
.page-header h1{ 
  font-size: 3em;
}
.logo {
  width: 8em;
  max-width: 300px; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#timer{
  color: red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#stack {
  display: flex;
  flex-direction: column;
}

.margin1em {
  margin: 1em;
}

#columns {
  column-count: 2;
}
.players{
    list-style: none;
}

input, textarea {
  border-radius: 1em;
  font-size: 1em;
  padding: 0.25em;
}

textarea {
  font-size: 2em;
}

.bolded-border {
  border: 0.2em solid black;
}

.no-border {
  border: 0em;
}

button {
  /* border: 0.2em solid red; */
  border-radius: 1em;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: rgb(255, 104, 104);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  filter: grayscale(0.75);
  color: black;
}

span, ul, ol, p {
  font-size: 2em;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

#root {
  width: 75%;
  margin: 0 auto;
}

#question > *{
  margin: 1em;
}

#suggestions {
  display: flex;
  justify-content: space-evenly;
}

#suggestions > * {
  margin: 1em;
  padding: 0.5em;
  border: 0.2em solid gray;
  border-radius: 1em;
}
/* 
#cursor-change > *{
  cursor: pointer;
} */

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}