body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#timer{
  color: red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#stack {
  display: flex;
  flex-direction: column;
}

.margin1em {
  margin: 1em;
}

#columns {
  column-count: 2;
}